<!-- test out this img rev replacement -->

<div class="imgs clearfix">
  <!-- on same line -->
  <img src="img/59928801.1.png" /> <img src="img/8381cd83.2.png" />

  <!-- one at  a time -->
  <img src="img/cafcb34d.3.png" />
  <img src="img/49dd7a3b.4.png" />
</div>

<!-- Let's test this thing with img that were revved with references in our stylesheets -->
<div class="css-reved clearfix">
  <span class="img-1"></span>
  <span class="img-2"></span>
  <span class="img-3"></span>
  <span class="img-4"></span>
</div>

